{%load static%}
<header class="header">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
        <a href="#" class="navbar-brand">
          <div class="brand-text d-none d-md-inline-block"><span>Sistem </span><strong class="text-primary">Perpustakaan</strong></div></a>
      </div>
        <ul class="nav-menu list-unstyled d-flex flex-sm-row align-items-sm-left">
          <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><strong>{{request.session.nama}}</strong> <i class="fa fa-user fa-lg"></i> <i class="fa fa-caret-down"></i></a>
            <ul aria-labelledby="notifications" class="dropdown-menu">
              <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                  <div class="msg-profile"> <i class="fa fa-user fa-4x"> </i></div>
                  <div class="msg-body">
                    <h3 class="h5">{{request.session.nama}}</h3><span>{{request.session.email}}</span><small>{{request.session.no_telp}}</small>
                  </div></a></li>
              <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-book"></i>Pinjam Buku</strong></a></li>
              <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-file-text-o"></i>Lihat Peminjaman</strong></a></li>
              <li><a rel="nofollow" href="{%url 'logout'%}" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-sign-out"></i>Logout</strong></a></li>

            </ul>
          </li>
          
        </ul>
      </div>
  </nav>
</header>